[Unit]
Description=SAP Router Configuration
After=network-online.target multi-user.target
After=syslog.target network.target

[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=/opt/saprouter
ExecStart=/opt/saprouter/saprouter -r -G router.log
ExecStop=/opt/saprouter/saprouter -s
KillMode=none
Restart=no

[Install]
WantedBy=multi-user.target
